@using MVC_Project.DAL.Models
@model Employee

<div>
    <label class="col-form-label" asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div>
    <label class="col-form-label" asp-for="Age"></label>
    <input type="number" asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div>
    <label class="col-form-label" asp-for="Address"></label>
    <input type="text" asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div>
    <label class="col-form-label" asp-for="Salary"></label>
    <input type="number" asp-for="Salary" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="IsActive"></label>
    <input asp-for="IsActive" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Gender"></label>
    <input asp-for="Gender" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Email"></label>
    <input type="email" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div>
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input type="text" asp-for="PhoneNumber" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="IsDeleted"></label>
    <input asp-for="IsDeleted" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="HireDate"></label>
    <input asp-for="HireDate" class="form-control" />
</div>