@using MVC_Project.ViewModels
@model EmployeeViewModel
<div>
	<img src="~/Files/Images/@Model.ImageName" alt="Employeee Image" />
</div>
<div>
	<label class="col-form-label" asp-for="Name">Name: </label>
	<input asp-for="Name" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="Age">Age: </label>
	<input asp-for="Age" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="Address">Address: </label>
	<input asp-for="Address" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="Salary">Salary: </label>
	<input asp-for="Salary" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="IsActive">IsActive: </label>
	<input asp-for="IsActive" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="Email">Email: </label>
	<input asp-for="Email" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="PhoneNumber">PhoneNumber: </label>
	<input asp-for="PhoneNumber" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="HireDate">HireDate: </label>
	<input asp-for="HireDate" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="IsDeleted">IsDeleted: </label>
	<input asp-for="IsDeleted" class="form-control" readonly />
</div>
<div>
	<label class="col-form-label" asp-for="Gender">Gender: </label>
	<input asp-for="Gender" class="form-control" readonly />
</div>