@using MVC_3.DAL.Models
@model Department
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Department</h1>

<br/>
<br />
<div asp-validation-summary="ModelOnly">
</div>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input type="text" asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input type="text" asp-for="DateOfCreation" class="form-control" />
    </div>
    <input type="submit" value="Create" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="btn btn-light">Back to list</a>
</form>

