@model EmployeeViewModel

@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Are you sure you want to delete this employee?</h1>

<br />
<br />

<form asp-action="Delete" asp-route-id="@Model.Id">
    <partial name="PartialViews/DetailsDelete"></partial>

    <input type="submit" value="Delete" class="btn btn-danger mt-5" />
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</form>
